<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Welcome</py:def>
  <py:def function="body_class">hide-sidebar</py:def>
  
   <py:def function="optional_head">
      <style>
        #minornavigation {
          display: none;
        }
        #content {
          border-right: none;
        }
        #comments {
          display: none;
        }

        footer.entry-meta {
          display: none;
        }
      </style>
   </py:def>
  

    <div py:match="//div[@id='main']">
      <div class="prepend-1 span-16 last">
        <div id="content">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  <xi:include href="layout.html" />
</html>



